<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Chart Test</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='http://d3js.org/d3.v3.js'></script>

    <script>
        
        function SetRadarData() {
            DrawRadar(1, 'sample4_1', 'RADAR 4', [5, 8, 3, 6], 4)
            DrawRadar(1, 'sample5_1', 'RADAR 5', [5, 10, 6, 7, 2], 5)
            DrawRadar(1, 'sample6_1', 'RADAR 6', [8, 10, 5, 3, 5, 6], 6)
            
            DrawRadar(5, 'sample4_5', 'RADAR 4', [5, 8, 3, 6], 4)
            DrawRadar(5, 'sample5_5', 'RADAR 5', [5, 10, 6, 7, 2], 5)
            DrawRadar(5, 'sample6_5', 'RADAR 6', [8, 10, 5, 3, 5, 6], 6)
        }
    </script>

</head>


<body style="background-color: #151E28;">
    
    <div style="float: left; width:2000px;">
        <span id="sample4_1" width="500" height="500" style="display: none;"></span>
        <span id="sample5_1" width="500" height="500" style="display: none;"></span>
        <span id="sample6_1" width="500" height="500" style="display: none;"></span>
    </div>
    <div style="float: left; width:2000px;">
        <span id="sample4_5" width="500" height="500" style="display: none;"></span>
        <span id="sample5_5" width="500" height="500" style="display: none;"></span>
        <span id="sample6_5" width="500" height="500" style="display: none;"></span>
    </div>
    <script src='/static/js/chart.js'></script>
    <script src='/static/js/chartdraw.js'></script>
    <script>
        SetRadarData();
    </script>
</body>

</html>